p {
	margin: 10px;
	font-family: Comic Sans MS;
	font-size: 10px;
}

h1 {
	color:white;
}

body{
	padding:10px;

}

marquee{
	font-family: calibri;
	
}

#container{
	width:100%;
}



#box1 {
	float : left;
	margin:10px;
	width:45%;
	border-style:solid;
	border-width:1px;

	

	
}

#box2 {
	float : right;
	margin:10px;
	width:45%;
	border-style:solid;
	border-width:1px;

	
}

